.Item{
    display: inline-block;
    width: 33%;
}

.Card{
    height:200pt;
    display:inline-block;
    margin: 0px;
}

.ImageGIF{
    width:100%;
    background: transparent url('loading.gif') no-repeat scroll center center;
}

.AlertClass{
    --min-width:50%;
}